main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth; /* Добавляем плавный переход до якоря */
}

.title {
    color: #000000;
    font-size: 30px;
    margin-left: 20px; 
}

.about_img{
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 60px;
}

@media (max-width: 768px) {
    .about_img {
        width: 250px;
        height: 250px;
    }
}


.about{
    display: flex;
}

@media (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center; /* Центрирование элементов по горизонтали */
    }

    .about_img {
        margin-left: auto;
        margin-right: auto;
    }

    .description {
        margin-inline: auto;
    }
}

.description{
    display: flex;
    flex-direction: column;
    margin-inline: 5%;
}

.light-theme h4{
    color: #abc232;
}
.dark-theme h4{
    color: #db830f;
}

article{
    text-align: center;
    width: 30%;
    margin: 0 10px;
}



#numbers-section1 {
    display: flex;
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center;
}

#numbers-section2 {
    display: flex;
    justify-content: center; /* Центрирование элементов по горизонтали */
    align-items: center;
}

.light-theme {
    background-color: #ffffff;
}

.dark-theme {
    background-color: #eae0aa61;
}

@media (max-width: 380px) {
    main {
        overflow-x: auto; /* Добавляем горизонтальную полосу прокрутки */
    }
}