main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

html {
    scroll-behavior: smooth; /* Плавный переход до якоря */
}

.title {
    color: #000000;
    font-size: 30px;
    margin-left: 20px; 
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px; 
    padding: 10px;
}

.search-box input[type="text"] {
    width: 60%; 
    height: 30px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 10px; 
    font-size: 16px;
}

.light-theme .search-box button {
    background-color: #abc232;
    color: #ffffff;
    border: none;
    border-radius: 10px; 
    width: 100px;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    margin-left: 20px;
}
.dark-theme .search-box button {
    background-color: #db830f;
    color: #ffffff;
    border: none;
    border-radius: 10px; 
    width: 100px;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    margin-left: 20px;
}

.light-theme .search-box button:hover {
    background-color: #899e51; 
}
.dark-theme .search-box button:hover {
    background-color: #b0944e; 
}

#tours img{
    width: 300px;
    height: 300px;
}

#tours{
    display: grid;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

article{
    padding: 10px;
    margin: 10px;
    background: #aaa9a975;
    border-radius: 10px;
    text-align: center;
}

article:hover{
    background: #cac9c93d;
}

@media (max-width: 800px) {
    .search-box input[type="text"]{
        height: 20px;
    }
    .search-box button{
        padding: 7px 24px;
    }
}

@media (min-width: 1400px) {
    :nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    :nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    :nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    :nth-child(4) { grid-area: 1 / 4 / 2 / 5; }
    :nth-child(5) { grid-area: 2 / 1 / 3 / 2; }
    :nth-child(6) { grid-area: 2 / 2 / 3 / 3; }
    :nth-child(7) { grid-area: 2 / 3 / 3 / 4; }
    :nth-child(8) { grid-area: 2 / 4 / 3 / 5; }
}
@media (min-width: 1090px) and (max-width: 1399px){
    :nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    :nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    :nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
    :nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
    :nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
    :nth-child(6) { grid-area: 2 / 3 / 3 / 4; }
    :nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
    :nth-child(8) { grid-area: 3 / 2 / 4 / 3; }
}
@media (min-width: 860px) and (max-width: 1088px){
    :nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    :nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    :nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    :nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
    :nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
    :nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
    :nth-child(7) { grid-area: 4 / 1 / 5 / 2; }
    :nth-child(8) { grid-area: 4 / 2 / 5 / 3; }
}

@media (min-width: 600px) and (max-width: 859px){
    :nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    :nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    :nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    :nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
    :nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
    :nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
    :nth-child(7) { grid-area: 4 / 1 / 5 / 2; }
    :nth-child(8) { grid-area: 4 / 2 / 5 / 3; }

    #tours {
        margin-left: auto;
        margin-right: auto;
    }

    #tours img{
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 500px) and (max-width: 599px){
    #tours {
        margin-left: auto;
        margin-right: auto;
        width: 70%;  
    }
    #tours img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 499px){
    #tours {
        margin-left: auto;
        margin-right: auto;
        width: 95%;  
    }
}

.light-theme {
    background-color: #ffffff;
}

.dark-theme {
    background-color: #eae0aa61;
}

@media (max-width: 380px) {
    main {
        overflow-x: auto; /* Горизонтальная полоса прокрутки */
    }
}