.light-theme main {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dark-theme main {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #eae0aa61;
}
.title {
    color: #000000;
    font-size: 30px;
    margin-left: 20px; 
}

.info{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

#contacts, #where{
    margin-top: 25px;
}

.map{
    margin: 0 auto;
}

iframe{
    width: 500px;
    height: 300px
}

#where a:hover {
    color: #6b8ae9;
}

.light-theme .details button {
    background-color: #abc232;
    color: #ffffff;
    border: none;
    border-radius: 10px; /* Закругление углов */
    width: 200px;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    margin-top: 20px;
}

.dark-theme .details button {
    background-color: #db830f;
    color: #ffffff;
    border: none;
    border-radius: 10px; /* Закругление углов */
    width: 200px;
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
    margin-top: 20px;
}

.light-theme .details button:hover {
    background-color: #899e51; /* Цвет при наведении */
}
.dark-theme .details button:hover {
    background-color: #b0944e; /* Цвет при наведении */
}

#where a{
    color: #000000;
}

@media (min-width: 1100px) {
    iframe{
        width: 700px;
        height: 400px
    }
}

@media (max-width: 1099px) {
    .map{
        margin-top: 20px;
    }
}

@media (max-width: 900px) {
    .info {
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    iframe{
        width: 300px;
        height: 200px
    }
}