
body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

html {
    scroll-behavior: smooth; /* Плавный переход до якоря */
}

main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.title {
    color: #000000;
    font-size: 40px;
    text-align: center; 
}

article {
    padding: 10px;
    margin: 10px;
    background: #aaa9a975;
    border-radius: 10px;
    text-align: center;
}

article:hover{
    background: #cac9c93d;
}

#advantages-section {
    display: flex;
}

@media (max-width: 819px) {
    #advantages-section {
        flex-wrap: wrap; 
    }
    #advantages-section article {
        width: 100%; 
    }
}

@media (min-width: 820px) and (max-width: 1200px) {
    #advantages-section article {
        width: 48%; 
    }
}

@media (min-width: 1201px) {
    #advantages-section article {
        width: 48%; 
    }
}


.slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .slider {
        width: 350px; 
        height: 200px; 
    }
    .slide {
        height: 200px; 
    }
}

@media (min-width: 769px) {
    .slider {
        width: 700px;
        height: 400px;
    }
    .slide {
        height: 400px; 
    }
}

.slides {
    display: flex;
    animation: slideAnimation 10s infinite;
}

.slide {
    flex: 0 0 100%; /* Каждый слайд занимает всю ширину */
    background-size: cover;
}


@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(0);
    }
    66.66% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-200%);
    }
}

header h1 {
    margin: 20px; 
}

@media (min-width: 1541px) { 
    body { 
        width: 100%; 
        max-width: 1440px; 
        margin-left: auto; 
        margin-right: auto;
    } 
}

.light-theme {
    background-color: #ffffff;
}

.dark-theme {
    background-color: #eae0aa61;
}


@media (max-width: 380px) {
    main {
        overflow-x: auto; /* Горизонтальная полоса прокрутки */
    }
}
