
body { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.light-theme main {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.dark-theme main {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #eae0aa61;
}

.title {
    color: #000000;
    font-size: 40px;
    text-align: center; /* Выравнивание текста по центру */
}

article {
    padding: 10px;
    margin: 10px;
    background: #aaa9a975;
    border-radius: 10px;
    text-align: center;
}

article:hover{
    background: #cac9c93d;
}

#advantages-section {
    display: flex;
}

@media (max-width: 768px) {
    #advantages-section {
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    }
    #advantages-section article {
        width: 100%; /* Элементы занимают всю доступную ширину */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    #advantages-section article {
        width: 48%; 
    }
}

@media (min-width: 1201px) {
    #advantages-section article {
        width: 48%; 
    }
}


.slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .slider {
        width: 350px; 
        height: 200px; 
    }
    .slide {
        height: 200px; 
    }
}

@media (min-width: 769px) {
    .slider {
        width: 700px;
        height: 400px;
    }
    .slide {
        height: 400px; 
    }
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 100%; /* Каждый слайд занимает всю ширину */
    background-size: cover;
}

input[type="radio"] {
    display: none; /* Скрываем радиокнопки */
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #a09e9e;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}


#slide1:checked ~ .slides .slide:nth-child(1) {
    transform: translateX(0);
}

#slide2:checked ~ .slides .slide:nth-child(2) {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides .slide:nth-child(3) {
    transform: translateX(-200%);
}

.light-theme #slide1:checked ~ .navigation label:nth-child(1),
.light-theme #slide2:checked ~ .navigation label:nth-child(2),
.light-theme #slide3:checked ~ .navigation label:nth-child(3) {
    background-color: #abc232; /* Изменяем цвет активной точки */
}

.dark-theme #slide1:checked ~ .navigation label:nth-child(1),
.dark-theme #slide2:checked ~ .navigation label:nth-child(2),
.dark-theme #slide3:checked ~ .navigation label:nth-child(3) {
    background-color: #db830f; /* Изменяем цвет активной точки */
}

header h1 {
    margin: 20px; 
}


@media (max-width: 380px) {
    body {
        overflow-x: auto; /* Добавляем горизонтальную полосу прокрутки */
    }
}

@media (min-width: 1541px) { 
    body { 
        width: 100%; 
        max-width: 1440px; 
        margin-left: auto; 
        margin-right: auto; 
    } 
}