body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@media (min-width: 1541px) { 
    body { 
        width: 100%; 
        max-width: 1440px; 
        margin-left: auto; 
        margin-right: auto; 
    } 
}

header {
    padding: 0;
    width: 100%;
    margin: 0;
    position: relative; /* добавлено для абсолютного позиционирования дочерних элементов */
    overflow: hidden; /* чтобы обрезать изображение, если оно выходит за пределы хедера */
    
}

.header-content {
    position: absolute;
    top: 0; 
    left: 0; 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* чтобы padding не добавлялся к ширине */
    z-index: 1; /* чтобы располагался поверх изображения */
    background: linear-gradient(to bottom, #3b3a3af3, #4e4d4d00); 
}

.list ul li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

.list ul li a {
    text-decoration: none;
    color: #ffffff;
}

.light-theme .list ul li a:hover {
    color: #abc232;
}
.dark-theme .list ul li a:hover {
    color: #db830f;
}

.logo {
    width: 100px;
    height: auto;
}

.theme-toggle-btn {
    padding: 0;
    border: none;
    background: none;
}

.menu-content nav.site-list ul li button {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 0; 
    background: none; 
    border: none; 
}

.menu-toggle-btn img{
    width: 40px;
    height: 40px;
}

#main_img1 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0; 
    position: relative;
}

#logoImg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0; 
    position: relative;
}

.menu-content {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 350px;
    height: 100%;
    box-shadow: 0 0 10px #00000025;
    transform: translateX(350px);
    transition: transform 0.3s ease;
    z-index: 999;
}

.site-list ul li {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.site-list ul li a {
    text-decoration: none;
    color: #000000;
}


.light-theme .site-list ul li a:hover {
    color: #899e51;
}
.dark-theme .site-list ul li a:hover {
    color: #db830f;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.titles_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-theme .footer_el:hover {
    color: #899e51;
}

.dark-theme .footer_el:hover {
    color: #db830f;
}

.footer_flex {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    
}

.footer_el{
    margin-inline: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    text-decoration: none;
}

.logo_footer{
    width: 100px;
    height: auto;
}


@media (max-width: 768px) {

    .list {
        display: none;
    }

    .list ul {
        display: none;
    }
    .burger-menu {
        display: block;
        color: #ffffff;
    }

    .menu-toggle-btn {
        display: block;
        margin-right: 0px;
        background: none;
        border: none;
        position: relative;
        z-index: 1000;
    }
}

@media (min-width: 769px) {
    .list {
        display: block;
    }

    .list ul {
        display: block;
    }
    .menu-toggle-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 50px;
    }
    .menu-toggle-btn img{
        width: 20px;
        height: 20px;
    }


    .footer-content {
        flex-direction: column;
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    }
    .footer_el {
        margin-top: 20px;
    }
    .titles_footer{
        flex-direction: column;
    }
    .titles_footer .footer_el{
        margin-top: 10px;
    }
    .footer_flex{
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    .header-content{
         padding: 5px;
    }
}