/* центрирование 
@media (min-width: 1441px) { 
    body {  
        width: 100%; 
        max-width: 1440px; 
        margin-left: auto; 
        margin-right: auto;
    } 
}
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 0;
    width: 100%;
    margin: 0;
    position: relative; /* добавлено для абсолютного позиционирования дочерних элементов */
    overflow: hidden; /* чтобы обрезать изображение, если оно выходит за пределы хедера */

}

.header-content {
    position: absolute;
    top: 0; /* располагаем по верхнему краю */
    left: 0; /* выравниваем по левому краю */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* чтобы padding не добавлялся к ширине */
    z-index: 1; /* чтобы располагался поверх изображения */
    background: linear-gradient(to bottom, rgba(59, 58, 58, 0.758), rgba(78, 77, 77, 0)); /* Градиент от полностью непрозрачного к полностью прозрачному */
}

.logo {
    width: 100px;
    height: auto;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #abc232;
}

@media (max-width: 1199px) {

    nav {
        display: none;
    }

    nav ul {
        display: none;
    }
    .burger-menu {
        display: block;
        color: #ffffff;
    }

    .menu-toggle-btn {
        display: block;
        margin-right: 0px;
        background: none;
        border: none;
        position: relative;
        z-index: 1000;
    }
}

@media (min-width: 1200px) {
    nav {
        display: block;
    }

    nav ul {
        display: block;
    }
    .menu-toggle-btn {
        display: none;
    }
}

main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main_img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0; 
    padding: 0; 
    position: relative;
}

.main_conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Примерная ширина контента */
    max-width: 800px; /* Максимальная ширина контента */
    text-align: center; /* Центрируем содержимое по горизонтали */
}

.main_title {
    color: #ffffff;
    font-size: 40px;
    text-align: center; 
}

.title {
    color: #000000;
    font-size: 40px;
    text-align: center; /* Выравнивание текста по центру */
}

.highlighted-text {
    color: #abc232; /* Цвет для выделенной части текста */
}

@media (max-width: 768px) {
    .main_title {
        display: none;
    }
}
.search-box {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбец */
    align-items: center; /* Центрируем элементы по горизонтали */
    background-color: none;
    border-radius: 20px; /* Закругление углов */
    padding: 10px;
    margin-top: 20px;
}

.search-box input[type="text"] {
    width: 60%; /* Ширина поля ввода, учитывая ширину кнопки */
    height: 30px;
    padding: 8px;
    border: none;
    border-radius: 10px; /* Закругление углов */
    margin-bottom: 10px; /* Отступ между полем ввода и кнопкой */
    font-size: 16px;
}

.search-box button {
    background-color: #abc232;
    color: #ffffff;
    border: none;
    border-radius: 10px; /* Закругление углов */
    width: calc(60% + 16px);
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.search-box button:hover {
    background-color: #899e51; /* Цвет при наведении */
}



article {
    padding: 10px;
    margin: 10px;
    background: rgba(170, 169, 169, 0.17);
    border-radius: 10px;
    text-align: center;
  }

#advantages-section {
    display: flex;
}

@media (max-width: 768px) {
    #advantages-section {
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
    }
    #advantages-section article {
        width: 100%; /* Элементы занимают всю доступную ширину */
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    #advantages-section article {
        width: 48%; /* Элементы занимают половину доступной ширины */
    }
}

@media (min-width: 1201px) {
    #advantages-section article {
        width: 48%; /* Элементы занимают половину доступной ширины */
    }
}


.slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .slider {
        width: 350px; 
        height: 200px; 
    }
    .slide {
        height: 200px; 
    }
}

@media (min-width: 769px) {
    .slider {
        width: 700px;
        height: 400px;
    }
    .slide {
        height: 400px; 
    }
}

.slides {
    display: flex;
}

.slide {
    flex: 0 0 100%; /* Каждый слайд занимает всю ширину */
    background-size: cover;
}

input[type="radio"] {
    display: none; /* Скрываем радиокнопки */
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.navigation label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #a09e9e;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}


#slide1:checked ~ .slides .slide:nth-child(1) {
    transform: translateX(0);
}

#slide2:checked ~ .slides .slide:nth-child(2) {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides .slide:nth-child(3) {
    transform: translateX(-200%);
}

#slide1:checked ~ .navigation label:nth-child(1),
#slide2:checked ~ .navigation label:nth-child(2),
#slide3:checked ~ .navigation label:nth-child(3) {
    background-color: #abc232; /* Изменяем цвет активной точки */
}


header h1 {
    margin: 20px; /* Увеличьте значение для увеличения расстояния */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 380px) {
    body {
        overflow-x: auto; /* Добавляем горизонтальную полосу прокрутки */
    }
}